<div class="Search-Container">
  <div class="Search-Input" [attr.controlLayoutInput]="controlLayoutInput">
    <svg><use class="primary" xlink:href="assets/images/svg/twitter-main/search.svg#search"/></svg>
    <input
    type="text"
    placeholder="Search Twitter"
    (focus)="controlLayoutInput = !controlLayoutInput"
    (focusout)="controlLayoutInput = false"
    />
  </div>
</div>

<aside>
  <div class="Trend-Topics">
    <ul>
      <li> What's happening </li>
      <li *ngFor="let item of mockArray(5)">
        <p>
          {{WhatsHappening.trending}}
            <svg><use fill="#FFF" xlink:href="assets/images/svg/twitter-header/footer/dots.svg#user_dots"/></svg>
        </p>
        <p>{{WhatsHappening.title}}</p>
        <div>
          <p>{{WhatsHappening.subtitle}}</p>
          <a class="primary">{{WhatsHappening.action}}</a>
        </div>
      </li>
      <li> Show more </li>
    </ul>
  </div>

  <div class="Who-To-Follow">
    <ul>
      <li> Who to follow </li>
      <li *ngFor="let item of mockArray(3)">
        <img width="48" height="48" src="assets/images/yin-yang.png">

        <div>
          <div class="user">
            <strong>{{WhoToFollow.name}}</strong>
            <p>{{WhoToFollow.username}}</p>
          </div>
          <button class="btn-secondary">
            <p>Follow</p>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="Terms-Of-Service">
    <p *ngFor="let terms of TermsOfService">
        {{terms}}
    </p>
  </div>
</aside>
