section {
  height: 53px;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    background: #202327;
    border-radius: 300px;
    display: flex;

    svg {
      width: 44px;
      height: 20px;
      padding-left: 12px;

      use {
        fill: rgb(113, 118, 123);
      }
    }

    input {
      background: #ff000000;
      outline-style: none;
      height: 100%;
      width: 100%;
      padding: 12px;
      appearance: none;
      border: 0;
      color: white;

      &::placeholder {
        font-size: 15px !important;
        font-weight: 400;
        line-height: 20px;
        color: rgb(113, 118, 123);
      }
    }

    &[controlLayoutInput="true"] {
      border: 1px solid rgb(29, 155, 204);
      background-color: black;
    }
  }
}
aside {
  min-height: 1105.5px;
  margin-top: 70px;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  .Trend-Topics {
    margin-bottom: 16px;
    background-color: #16181c;
    border-radius: 16px;
    height: 520px;

    ul {
      li {
        height: 82px;
        padding-bottom: 12px;
        padding-top: 12px;
        padding-left: 16px;
        padding-right: 16px;

        &:first-child {
          height: 48px;
          font-size: 20px;
          color: #e7e9ea;
          padding: 12px 16px;
          font-weight: 800;
          line-height: 24px;
        }
        &:last-child {
          border-radius: 0px 0px 10px 10px;
          padding: 16px;
          font-size: 15px;
          color: #e7e9ea;
          height: 60px;
          line-height: 24px;
          color: #1d9bf0;
        }

        &:not(:first-child):hover {
          background-color: rgba(255, 255, 255, 0.03);
          cursor: pointer;
        }

        p {
          color: #71767b;
          font-size: 13px;
          height: 20px;

          &:first-child {
            display: flex;
            justify-content: space-between;

            svg {
              width: 19px;
              height: 19px;

              use {
                fill: rgb(113, 118, 123);
              }

              &:hover {
                background-color: rgb(29, 155, 240, 0.1);
                border-radius: 99999px;

                use {
                  fill: rgb(29, 155, 240);
                }
              }
            }
          }

          &:nth-child(2) {
            color: #e7e9ea;
            font-size: 15px;
            font-weight: 700;
          }
        }

        div {
          display: flex;
          align-items: center;
          gap: 4px;

          p{
            height: 17px;
          }

          a {
            font-size: 13px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .Who-To-Follow {
    margin-bottom: 16px;
    background-color: #16181c;
    border-radius: 16px;
    height: 264px;

    ul {
      li {
        display: flex;
        padding: 12px 16px;
        gap: 10px;

        img {
          border-radius: 999px;
          background-color: rgb(150, 150, 150);
        }
        div {
          display: flex;
          justify-content: space-between;
          width: 100%;

          label {
            display: flex;
            flex-direction: column;
            justify-content: initial;

            p {
              display: flex;
              flex-direction: column;
              font-size: 15px;
              color: #71767b;
            }

            strong {
              color: white;
            }
          }

        }

        &:first-child {
          font-size: 20px;
          color: #e7e9ea;
          padding: 12px 16px;
          font-weight: 800;
          line-height: 24px;
        }

        &:last-child:hover {
          border-radius: 0px 0px 20px 20px;
        }

        &:not(:first-child):hover {
          background-color: rgba(255, 255, 255, 0.03);
          cursor: pointer;
        }
      }
    }
  }

  > label {
    height: 60px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: row;
    display: flex;

    p {
      color: rgb(113, 118, 123);
      padding-right: 12px;
      font-size: 13px;
      cursor: pointer;
      line-height: 16px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
