<main>
  <section>
    <nav>
      <ul>
        <li>
          <svg style="width: 50px;height: 30px;">
            <use fill= "#FFF" xlink:href="assets/images/svg/twitter-logo.svg#twitter_logo"/>
          </svg>
        </li>

        <li *ngFor="let items of navItems">
          <svg>
            <use [attr.xlink:href]="items.source"/>
          </svg>
          <p>{{ items.label }}</p>
        </li>
      </ul>

      <twitter-button size="xl"></twitter-button>
    </nav>

    <footer>
      <div>
        <picture><img width="40" height="40" src="assets/images/yin-yang.png"></picture>
        <p><strong> {{name}} </strong> @{{user}} </p>
      </div>

      <svg><use fill="#FFF" xlink:href="assets/images/svg/twitter-header/footer/dots.svg#user_dots"/></svg>
    </footer>
  </section>
</main>
