<main>
  <div class="Feed-Title">
    <strong>Home</strong>
    <div>
      <svg><use fill="#FFF" xlink:href="assets/images/svg/twitter-main/top-tweets.svg#top_tweets"/></svg>
    </div>
  </div>

  <div class="Feed">
    <section class="Timeline-newTweet">
      <div style="height: 53px;"></div>

      <div class="section-actions">
        <figure>
          <img width="48" height="48" src="assets/images/yin-yang.png">
        </figure>

        <div class="section-new-tweets">
          <input type="text" placeholder="What's happening?">
          <aside>
            <ul>
              <li *ngFor="let items of actionItems">
                <svg><use class="primary" [attr.xlink:href]="items"/></svg>
              </li>
            </ul>

            <twitter-button></twitter-button>
          </aside>
        </div>
      </div>

      <div class="section-loading-more-tweets">
        Show XX Tweets
      </div>
    </section>

    <section class="TimeLine">
      <twitter-timeline></twitter-timeline>
    </section>
  </div>

  <trending></trending>
</main>

